div {
    color: blueviolet;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    background-color: darkblue;
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
}